<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
        
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Agents/Suppliers</h3>
                    <div class="table-data__tool">
                        
                            <div  class="table-data__tool-right">
                            <a href="#" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Agent/Supplier</a>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Notes</th>
                                    <th></th>
                                </tr>
                            </thead>
                           {{#if hasAgentSupplier}} 
                             <tbody>
                               {{#each agentSuppliers }} 
                                    <tr class="tr-shadow">
                                        <td>{{ this.Id }}</td>
                                        <td>
                                            <span >{{ this.Name }}</span>
                                        </td>
                                        <td >{{ this.Adress }}    </td>
                                        <td>0{{ this.Phone}}</td>
                                        <td><span class="block-email">{{ this.Email }}</span></td>
                                        <td>{{ this.Notes}}</td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a href="/agentSupplier/edit/{{ this.Id }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a href="/agentSupplier/delete/{{ this.Id }}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>        
                                                <a href="/report/agent/spareParts/{{ this.Id }}" class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-more"></i>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                               {{/each}} 
                             </tbody>
                           {{/if}} 
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- POPUP-->
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
            <form method="POST" action="/agentSupplier/add">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="login-logo">
                    <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
                </div>
                <div class="login-form">
                        <div class="form-group">
                            <label class=" form-control-label">ID</label>
                            <input type="text" name="Id" required placeholder="Enter ID" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Full Name</label>
                            <input type="text" name="Name" required placeholder="Enter Full Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Address</label>
                            <input type="text" name="Address"  required placeholder="Enter Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Phone</label>
                            <input type="phone" name="Phone" required placeholder="Enter Phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Email</label>
                            <input type="email" required name="Email" placeholder="Enter Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Notes</label>
                            <textarea type="text" name="Notes" placeholder="Enter Notes" class="form-control"></textarea>
                        </div>
                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ADD</button>
                </div>
            </form>
          </div>  
        </div>
    </div>     
</div>  
