<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Breakdowns</h3>
                    <div class="table-data__tool">
                        
                            <div  class="table-data__tool-right">
                               <a href="#" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add Breakdown</a>
                            </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Reason</th>
                                    <th>Date</th>
                                    <th>Department</th>
                                    <th>Equipment</th>
                                </tr>
                            </thead>
                           {{#if hasBreakDown}} 
                            <tbody>
                               {{#each breakDowns }} 
                                <tr class="tr-shadow">
                                    <td>{{this.Code}}</td>
                                    <td>{{this.Reason}}</td>
                                    <td>{{this.DATE}}</td>
                                    <td>{{this.Department}}</td>
                                    <td> <img src="images/{{this.EquipmentImage}}" style="height: 50px; width:50px; border-radius: 50%;" >  {{this.EquipmentName}}-{{this.EquipmentCode}}</td>
                                    <td>
                                        <div class="table-data-feature">
                                                <a href="/breakDown/edit/{{ this.Code }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a href="/breakDown/delete/{{ this.Code }}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                             {{/each }} 
                             </tbody>
                           {{/if }} 
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
                
        </div>
    </div>
</div>

<!-- POPUP-->
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
            <form method="POST" action="/breakDown/add{{ id }}">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="login-logo">
                    <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
                </div>
                <div class="login-form">
                    <form action="" method="post">
                        <div class="form-group">
                            <label class=" form-control-label">Date</label>
                            <input type="Date" required name="DATE" placeholder="Enter Date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">EquipmentId</label>
                            <select name="EquipmentCode"required id="select" class="form-control">
                                {{#each Equipments}}
                                    <option value="{{this.Code}}">{{this.Name}}-{{this.Code}}-{{this.Department}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Reason</label>
                            <input type="text" required name="Reason"  placeholder="Enter Reason" class="form-control">
                        </div>
                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ADD</button>
                    </form>  
                </div>
            </form>
          </div>  
        </div>
    </div>     
</div>  
