<div class="main-content">
    <div class="section__content section__content--p30"> 
        <div class="container-fluid">
            <div class="table-data__tool">
                <h2> {{#if image}}<img src="images/{{image}}" style="height: 50px; width:50px; border-radius: 50%;" >{{/if}} {{#if name}} Equipment Name: {{ name }} ,Model:{{ model}}{{/if }}</h2>
            </div>
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Date</th>
                            <th>Engineer</th>
                  {{#if eq}}<th>Equipment</th>{{/if}}
                            <th></th>

                        </tr>
                    </thead>
                   {{#if hasReports}} 
                    <tbody>
                     {{#each reports}}
                        <tr>
                            <td>{{this.Code}}</td>
                            <td>{{this.DATE}}</td>
                            <td>{{this.Engineer}}</td>
                  {{#if this.eq}}<td>{{this.Equipment}}</td>{{/if}}
                            <td>
                                <div class="table-data-feature">      
                                    <a href="/report/dialyInspection/{{ this.Code }}{{#if this.eq}}?report=true{{/if}}" class="item" data-toggle="tooltip" data-placement="top" title="More">
                                        <i class="zmdi zmdi-more"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                       {{/each}} 
                    </tbody>
                   {{/if}} 
                </table>
            </div>
        </div>
    </div>
</div>
        <!-- END PAGE CONTAINER-->  

