<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="page-wrapper" style="height: auto;" >
                <div class="page-content--bge5" style="height: auto;">
                    <div class="container" style="height: auto;">
                        <div class="login-wrap">
                            <div class="login-content">
                                <div class="login-logo">
                                   
                                    <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>        
                                </div>
                                <div class="login-form" style="height: auto;">
                                    <form action="/equipment/add" method="POST">
                                            <input type="text"  hidden  name="Image" value="{{equipment.Image}}" >
                                            <input type="text"  hidden  name="edit" value="edit" >
                                            <input type="text"  hidden  name="Code" value="{{ equipment.Code }}" >
                                            <div class="form-group">
                                                <label class=" form-control-label">Name</label>
                                                <input type="text"required name="Name" placeholder="Enter Name" value="{{ equipment.Name }}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class=" form-control-label">Cost</label>
                                                <input type="number"required name="Cost" placeholder="Enter Cost" value="{{ equipment.Cost }}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class=" form-control-label">Installation Date</label>
                                                <input type="date" required name="InstallationDate" placeholder="Enter Installation Date" value="{{ equipment.InstallationDate }}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class=" form-control-label">Arrival Date</label>
                                                <input type="date" required name="ArrivalDate" placeholder="Enter Arrival Date"  value="{{ equipment.ArrivalDate }}"  class="form-control">
                                            </div>
                                             <div class="form-group">
                                                <label class=" form-control-label">Warranty Date</label>
                                                <input type="date" required name="WarrantyDate" placeholder="Enter Warranty Date"   value="{{ equipment.WarrantyDate }}"  class="form-control">
                                             </div>
                                             <div class="form-group">
                                                <label class=" form-control-label">Model </label>
                                                <input type="text" required name="Model" value="{{ equipment.Model}}" placeholder="Enter Model Number" class="form-control">
                                             </div>
                                            <div class="form-group">
                                                <label class=" form-control-label">Serial Number</label>
                                                <input type="text"required name="SerialNumber" value="{{ equipment.SerialNumber }}" placeholder="Enter Serial Number" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class=" form-control-label">Manufacturer</label>
                                                <input type="text" required name="Manufacturer" value="{{ equipment.Manufacturer }}" placeholder="Enter Manufacturer" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class=" form-control-label">Location</label>
                                                <input type="text" required name="Location" value="{{ equipment.Location }}" placeholder="Enter Location" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class=" form-control-label">Agent Code</label>
                                                <input type="text" required name="Agent" placeholder="Enter Agent Code" value="{{ equipment.AgentSupplierId }}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class=" form-control-label">Department</label>
                                                <select name="Department"required id="select" class="form-control">
                                                        <option value="OR" {{#if equipment.OR}} selected {{/if}} >OR</option>
                                                        <option value="Radiology" {{#if equipment.Radiology}} selected {{/if}}>Radiology</option> 
                                                        <option value="ICU" {{#if equipment.ICU}} selected {{/if}}>ICU</option>
                                                        <option value="CSSD" {{#if equipment.CSSD}} selected {{/if}}>CSSD</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class=" form-control-label">PM</label>
                                                <select name="PM"required id="select" class="form-control">
                                                        <option value="Monthly" {{#if M}} selected {{/if}} >Monthly</option>
                                                        <option value="Annualy" {{#if A}} selected {{/if}}>Annualy</option> 

                                                </select>
                                            </div>     
                                            <div class="form-group">
                                                <label class=" form-control-label">Notes</label>
                                                <input type="text"  name="Notes" placeholder="Any Notes" value="{{ equipment.Notes}}" class="form-control">
                                            </div>                                       
                                                            
                                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ADD</button>
                                
                                    </form>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

        </div>
    </div>        
</div>edit/:id