<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Maintenance</h3>
                    <div class="table-data__tool">
                        
                            <div  class="table-data__tool-right">
                            <a href="#" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add Maintenance</a>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Description</th>
                                    <th>Breakdown</th>
                                    <th>Department</th>
                                    <th>Equipment</th>
                                    <th>Engineer</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {{#if hasMaintenance}} 
                            <tbody>
                               {{#each Maintenances }} 

                                <tr class="tr-shadow">
                                    <td>{{this.Id}}</td>
                                    <td>{{this.StartDate}}</td>
                                    <td>{{this.EndDate}}</td>
                                    <td>{{this.Description}}</td>
                                    <td>{{this.BreakDownCode}}</td>
                                    <td>{{this.Department}}</td>
                                    <td><img src="images/{{this.EquipmentImage}}" style="height: 50px; width:50px; border-radius: 50%;" >  {{this.EquipmentName}}-{{this.EquipmentCode}}</td>
                                    <td> <img src="images/{{this.ClinicalEngineerImage}}" style="height: 50px; width:50px; border-radius: 50%;" > {{this.ClinicalEngineer}} </td>
                                    <td>
                                       <div class="table-data-feature">
                                                <a href="/maintenance/edit/{{ this.Id }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a href="/maintenance/delete/{{ this.Id }}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>        

                                            </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                              {{/each}} 
                             </tbody>
                           {{/if}} 
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
                
        </div>
    </div>
</div>

<!-- POPUP-->
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
            <form method="POST" action="/maintenance/add">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="login-logo">
                  
                    <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
                </div>
                <div class="login-form">
                          <div class="form-group">
                            <label class=" form-control-label">Engineer DSSN</label>
                            <select name="DSSN"required id="select" class="form-control">
                                {{#each Engineers}}
                                    <option value="{{this.DSSN}}">{{this.FName}} {{this.LName}} {{this.DSSN}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Break Down Code</label>
                            <select name="BreakDownID"required id="select" class="form-control">
                                {{#each breakDowns}}
                                    <option value="{{this.Code}}">{{this.Code}} : {{this.Date}} ({{this.EquipmentName}}-{{this.EquipmentCode}}) {{this.Reason}}</option>
                                {{/each}}
                            </select>
                        </div>
                           <div class="form-group">
                            <label class=" form-control-label">Start Date</label>
                            <input type="date" required name="StartDate" placeholder="Enter Start Date " class="form-control">
                        </div>
                           <div class="form-group">
                            <label class=" form-control-label">End Date</label>
                            <input type="date" required name="EndDate" placeholder="Enter End Date  " class="form-control">
                        </div>
                           <div class="form-group">
                            <label class=" form-control-label">Description</label>
                            <input type="text" required name="Description" placeholder="Enter Description " class="form-control">
                        </div>
                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ADD</button>
                </div>
            </form>
          </div>  
        </div>
    </div>     
</div>  
