<div class="main-content">
    <div class="section__content section__content--p30"> 
        <div class="container-fluid">
            <div class="table-data__tool">
                <h2> Department : {{ name }}</h2>
                
            </div>
            <h3> Equipment:</h3>
            </br>
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Cost</th>
                            <th>Model </th>
                            <th>Serial Number</th>
                            <th>Manufacturer</th>
                            <th>Location</th>
                            <th>Installation Date</th>
                            <th>Agent</th>    
                        </tr>
                    </thead>
                   {{#if hasEquipments}} 
                    <tbody>
                     {{#each equipments}}
                        <tr>
                            <td>{{this.Code}}</td>
                            <td>{{this.Name}}</td>
                            <td>{{this.Cost}}</td>
                            <td>{{this.Model}}</td>
                            <td>{{this.SerialNumber}}</td>
                            <td>{{this.Manufacturer}}</td>
                            <td>{{this.Location}}</td>
                            <td>{{this.InstallationDate}}</td>
                            <td>{{this.Agent}}</td>    
                        </tr>
                       {{/each}} 
                    </tbody>
                   {{/if}} 
                </table>
            </div>
        </div>
    </div>
</div>
        <!-- END PAGE CONTAINER-->  

