<div class="main-content">
    <div class="section__content section__content--p30"> 
        <div class="container-fluid">
            <div class="table-data__tool">
                <a href="#" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-plus"></i>Add Spare Part</a>
            </div>
           {{#if hasPart}} 
            <div class="row">
              {{#each SpareParts }}   
                <div class="col-md-4">
                    <div class="card" style="width: auto;">
                        <img class="card-img-top" src="images/{{this.Image}}" alt="Card image cap" style="height: 250px;">
                        <div class="card-body">
                            <div class="card-text">Code: <span>{{this.Code}}</span></div>
                            <div class="card-text">Name: <span>{{this.Name}}</span></div>
                            <div class="card-text">Amount: <span>{{this.Amount}}</span></div>
                             <div class="card-text">Equipment Code: <span>{{ this.EquipmentName }} (Code:{{this.EquipmentCode}})</span></div>
                            <div class="card-text">Agent ID: <span>{{ this.AgentSupplierName }} (Id:{{this.AgentSupplierId}})</span></div>
                        </div>
                        <div class="table-data-feature">
                            <a href="/sparePart/edit/{{ this.Code }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                            <a href="/sparePart/delete/{{ this.Code }}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </a>

                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
        <!-- END PAGE CONTAINER-->    >
<!-- POPUP-->
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
            <form method="POST" action="/sparePart/add" enctype="multipart/form-data">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="login-logo">
                 
                    <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
                </div>
                <div class="login-form">
                        <div class="form-group">
                            <label class=" form-control-label">Code</label>
                            <input type="text" name="Code" required placeholder="Enter code" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Name</label>
                            <input type="text" name="Name" required placeholder="Enter name" class="form-control">
                        </div>
                          <div class="form-group">
                            <label class=" form-control-label">Equipment Code</label>
                            <select name="EquipmentCode"required id="select" class="form-control">
                                {{#each Equipments}}
                                    <option value="{{this.Code}}">{{this.Name}} {{this.Code}} {{this.DepartmentName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Amount</label>
                            <input type="text" name="Amount" required placeholder="Enter Amount" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Agent Id</label>
                           <select name="AgentSupplierId"required id="select" class="form-control">
                                {{#each Agents}}
                                    <option value="{{this.Id}}">{{this.Name}} {{this.Id}} </option>
                                {{/each}}
                            </select>
                        </div>
                         <div class="form-group">
                            <label class=" form-control-label">Photo</label>
                            <input type="file"required name="image" placeholder="Enter Name" class="form-control">
                        </div>
                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ADD</button>
                </div>
            </form>
          </div>  
        </div>
    </div>     
</div>   
