<div class="container" style="height: 100%;">
    <div class="card-body card-block" style="height: 100%;">
        <div class="login-content" style="height: 100%;">
            <div class="login-logo">
              
                <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
            </div>
            <h3 class="title-3 m-b-30">
            <i class="zmdi zmdi-account-calendar"></i>PPM</h3>
            <div class="card-body" style="height: 100%;">
                <div class="card-text">Code: {{order.Code}} </div>                            
                <div class="card-text">Device: name: {{order.EquipmentName}} ,model:{{order.EquipmentModel}} ,Code:{{order.EquipmentCode}} </div>
                <div class="card-text">Start Date: {{order.StartDate}}</div>
                <div class="card-text">End Date: {{order.EndDate}}</div>
                <div class="card-text">Description: {{order.Description}}</div>
                <div class="card-text">Priority: {{order.Priority}}</div>
                <div class="card-text">Cost: {{order.Cost}} </div>

            </div>
            
            <div class="top-campaign" style="height: 100%;">
                <div class="table-responsive">
                    <table class="table table-top-campaign">
                    </table>   
                </div>
            </div>
                
    </div>
 </div>